@{
    ViewBag.Title = "Willkommen";
}

<h2>A Message from the Desk of Ryan Bibler</h2>
<p>
    The Following is a Message from the Desk of Ryan Bibler </br>
    Dear Unauthenticated User, </br>
    I thank you for vising my website. Here you will find any and all wondrous divertments and enjoyable past-times. </br>
    If at any point you feel dissatisfied with your experience, please do contanct me at: person@emailaddress.com and I will</br>
    be sure to rectify the problem. </br>
    Adieu,  </br>
    Biber.
</p>


