<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://biblerconnect.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>biblerconnect.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Bibler Labs Connect</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$biblerconnect</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Humidity.Models.ApplicationDbContext, Humidity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BiblerConnectDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:l9ef56rbcg.database.windows.net;Initial Catalog=BiblerConnect;User ID=rbibler;Password=Happygoat01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Humidity.Models.BiblerConnectDBContext, Humidity" MigrationConfiguration="Humidity.Migrations.Configuration, Humidity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BiblerConnectDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:l9ef56rbcg.database.windows.net;Initial Catalog=BiblerConnect;User ID=rbibler;Password=Happygoat01</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>